/*letras de Casino*/
@font-face {
    font-family:casino-letra ;
    src: url(casino-letra.TTF);
}

/*Logos de Casino*/
@font-face {
    font-family: casino-logo;
    src: url(casino-img.ttf);
}

.body{
    height: 100%;
    background-color: black;
}

.bordes {
    border: 5px solid red; /* Color inicial del borde */
    transition: border-color 0.5s ease; /* Transición para el color del borde */
  }
  
  .borde-verde {
    border-color: red; /* Color del borde cuando cambia */
  }
  
  .borde-azul {
    border-color: black; /* Otro color de borde cuando cambia */
  }
  
.divmenu{
    height: 15%;
    width: 100%;
    background-color: gray;
    margin-bottom: 0%;
    display: flex;
    align-items: stretch;
    flex-direction: row;

}

.home-nosotros{
    font-family: casino-letra, sans-serif;
    font-size: medium;
}


.alineardivs{
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    
        }


.cuadro {
    width: 100%; /* Ancho del cuadro */
    height: 60%; /* Alto del cuadro */
    text-align: center;
    top: 0;
    margin-top: 0%;
    background-color: black;
    background-image: url(https://th.bing.com/th/id/OIP.SzUBDnFAZL-AhMTddSmnsAHaFj?pid=ImgDet&rs=1);
    background-size: cover;
    font-family: casino-letra, sans-serif;
    font-size: 450%;
    color: white;
}

.cuadro1 {
    width: 20%; /* Ancho del cuadro */
    height: 100%; /* Alto del cuadro */
    margin-right: 1%;
    text-align: center;
    background-image: url(https://th.bing.com/th/id/OIP.rXNbNQtLhRUP3BR0N5Yv3wHaFj?pid=ImgDet&rs=1);
    background-size: cover;
    position: left;
    color: white;        
}

    
.cuadro2 {
    width: 55%; /* Ancho del cuadro */
    height: 100%; /* Alto del cuadro */
    text-align: center;
    background-color: gray;
    /*position: center;*/
    color: white;
}

.cuadro3 {
    width: 20%; /* Ancho del cuadro */
    height: 100%; /* Alto del cuadro */
    margin-left: 1%;
    text-align: center;
    background-image: url(https://th.bing.com/th/id/OIP.rXNbNQtLhRUP3BR0N5Yv3wHaFj?pid=ImgDet&rs=1);
    background-size: cover;
    position: right;
    color: white;
}

.divcuadro1{
    width: 60%;
    height: 30%;
    font-family: casino-logo, sans-serif;
    text-align: center;
    font-size: 700%;
    margin-left: 20%;
  }

  .divcuadro2{
    width: 30%;
    height: 50%;
    margin: 1%;
    border: 5px;
  }

.divcuadro3{
    width: 20;
    height: 40%;
}

.botonhome{
    width: 10%;
    height: 30%;
    margin: 10px;
    position: center;
    background-color: grey;
    color: white;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    border: 3px solid red; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: red; /* Cambia el color de fondo al pasar el ratón */
    border-color: black;
  }
  
  #tamañoimagen{
    width: 100%;
    height: 200%;
  }
  