/*------------------------------------------------------------------------------*/
/*------------------------ ESTILOS PARA DIV BLACK JACK -------------------------*/
/*------------------------------------------------------------------------------*/

.juego {
  margin-top: 50px;
}

#boton-repartir, #boton-pedir, #boton-mantener, #boton-reiniciar{
  margin:  1%;
  padding: 5% 10%;
  font-size: 108%;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

#boton-repartir {
  background-color: #008CBA;
}

#boton-repartir:hover {
  background-color: #007a99;
}

#boton-pedir {
  background-color: #f44336;
}

#boton-pedir:hover {
  background-color: #e53935;
}

#boton-mantener {
  background-color: #4CAF50;
}

#boton-mantener:hover {
  background-color: #45a049;
}

#boton-reiniciar{
  background-color: green;
  margin: 3px;
  
}

#boton-reiniciar:hover{
  background-color: greenyellow;
}
.manos {
  margin-top: 20px;
}

.mano {
  display: inline-block;
  margin: 5%;
  border: 5px solid #fff;
  padding: 20px; 
  font-size: 150%;
}

.card {
  background-color: #f9f9f9;
  border-radius: 5%;
  padding: 5%;
  margin: 5%;
}

.card img {
  max-width: 60%;
}
